__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.env
.env.*
!.env.example
.venv/
Classification of IT Support Tickets*
data/raw/kaggle_it_service_ticket_classification/
data/raw/kaggle_customer_support_ticket/
